{:paths ["src" "resources" "classes"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}

  ;; App config
  aero/aero {:mvn/version "1.1.6"}

  ;; SQL DB
  conman/conman {:mvn/version "0.9.3"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.2.761"}
  org.postgresql/postgresql {:mvn/version "42.2.23"}

  ;; Data format
  org.clojure/data.csv {:mvn/version "1.0.0"}

  ;; Datalog DB
  datalevin/datalevin {:mvn/version "0.5.28"}}

 :aliases
 {:uberjar
  {:replace-deps {uberdeps/uberdeps {:mvn/version "1.1.2"}}
   :replace-paths []
   :main-opts ["-m" "uberdeps.uberjar"]}

  :dev
  {:extra-paths ["dev"]
   :extra-deps  {}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.632"}}}}}
