{; set your dev database connection URL here
 ; :database-url "postgresql://localhost/kuops_dev?user=laurence&password=db_user_password_here"
 :database-url "jdbc:postgresql://localhost/kuops_dev?currentSchema=dbt_develop"
}
